<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Basketball Team! </h1>
  Team Name:
  Point Guard:
  Shooting Guard:
  Small Forward:
  Power Forward:
  Center: 

 </body>
</html>
